.strengths-group__list {
    display: flex;
    gap: 30px;
}

.strengths-group__icon {
    display: flex;
    min-height: 120px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    background-color: #f5f4fa;
    border-radius: 4px;
}

.strengths-icon {
    width: 70px;
    height: 70px;
}

.strengths-group__headline {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--headline-text-color);
}

.strengths-group__subtext {
    width: 270px;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}