.logo {

    font-family: var(--secondary-font);
    color: var(--logo-header-black);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
}

.logo--indent {
    margin-right: 93px;
}

.logo__particle {
    color: var(--link-hover-text-color);
}