.header__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--global-animation);}

.header__link--active {
    color: var(--link-hover-text-color);

}
.header__link:not(.header__link--active)::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: '';
    display: inline-block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    transform: scaleX(0);
    transition: transform var(--global-animation), opacity var(--global-animation);

    background-color: var(--link-hover-text-color);
}
.header__link::after {
    position: absolute;
    opacity: 1;
    left: 0;
    bottom: -1px;
    content: '';
    display: inline-block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--link-hover-text-color);
}

.header__link:hover::after {
    transform: scaleX(1);
    opacity: 1;
}



.header__link:hover,
.header__link:focus,
.contacts__link:hover,
.contacts__link:focus {
    color: var(--link-hover-text-color);
}

.header__menu {
    margin-left: 93px;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
}

.contacts,
.header__menu {
    display: flex;
    gap: 50px;
    margin-left: auto;
}




.contacts {
    justify-content: center;
    margin-left: auto;
    font-weight: 500;
    color: #757575;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;


&__icon {
    margin-right: 10px;
    fill: currentColor;
}

&__link {
    padding: 32px 0;
    display: flex;
    align-items: center;
    transition: color var(--global-animation);
}}